@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Inter-Thin-BETA.woff2?3c6190005f461a335dd06c7a712ce587) format("woff2"),
       url(/fonts/Inter-Thin-BETA.woff?488be0ba6c99628769933b46b9f7934b) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Inter-ThinItalic-BETA.woff2?6e98f2119ada5654056f0db3bd968b99) format("woff2"),
       url(/fonts/Inter-ThinItalic-BETA.woff?66ad00bf5dbef2a300d674c82e75e0f3) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/Inter-ExtraLight-BETA.woff2?bb62491b7d3b813656027cdfc4ffcf35) format("woff2"),
       url(/fonts/Inter-ExtraLight-BETA.woff?d5f3ba3642412d84722c48266a80583c) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/Inter-ExtraLightItalic-BETA.woff2?24c0fdd358165650dfd2f50bd96342ae) format("woff2"),
       url(/fonts/Inter-ExtraLightItalic-BETA.woff?7b2f527bfc04b027c622f5cb4aabe0ec) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Inter-Light-BETA.woff2?ebd51e8727e59f491b6c235e1430660f) format("woff2"),
       url(/fonts/Inter-Light-BETA.woff?42473eefda3520b8fa266b620c1df807) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Inter-LightItalic-BETA.woff2?89ba69f003cefd57b979b8c0b8b5238c) format("woff2"),
       url(/fonts/Inter-LightItalic-BETA.woff?a3f44661384750f62156856b60b8ab1a) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Regular.woff2?18e83d6dfd14797c8ec0cb4ce904f233) format("woff2"),
       url(/fonts/Inter-Regular.woff?04a0cb7e189feb1b67df7abd64afe15b) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Italic.woff2?1e32497f8a5c5881698606fb428c0e6c) format("woff2"),
       url(/fonts/Inter-Italic.woff?c0ff348044317d69dc6ce29b1ee07975) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Inter-Medium.woff2?c6fde2a92fa6723f27876d1398672e99) format("woff2"),
       url(/fonts/Inter-Medium.woff?3e5542f68e9f35bbcb20b5028dd2944e) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Inter-MediumItalic.woff2?77de3d5fb3494b3ce0ccdbc27316218d) format("woff2"),
       url(/fonts/Inter-MediumItalic.woff?7e64e4a5793e2045eed45c54adc7053e) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Inter-SemiBold.woff2?de3f13e0e75b19919866ba61f72e64b1) format("woff2"),
       url(/fonts/Inter-SemiBold.woff?28534027095c3302c6d8968a172eb7b0) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Inter-SemiBoldItalic.woff2?4656e9a230da8103b87f12649d621854) format("woff2"),
       url(/fonts/Inter-SemiBoldItalic.woff?ec0b27f055e8715d259ffed2966c042b) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Inter-Bold.woff2?be76611f7fa8cb1ffa28ae557d0b3202) format("woff2"),
       url(/fonts/Inter-Bold.woff?28d6d6cfda18527d91ab29414a1ef93a) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Inter-BoldItalic.woff2?43c4b4c271a17dd7340431e709e72266) format("woff2"),
       url(/fonts/Inter-BoldItalic.woff?2cc0e6c3176e8f534be1b5dc7196bdb5) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Inter-ExtraBold.woff2?c9d665f44dc37a597aa4cc6ae9e0a008) format("woff2"),
       url(/fonts/Inter-ExtraBold.woff?3343f7d676687fc454673f8ca96bc0ff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Inter-ExtraBoldItalic.woff2?aa70385a0557034e7ebe8cf7c87e8b21) format("woff2"),
       url(/fonts/Inter-ExtraBoldItalic.woff?6cc93593caac647f950f2e90241982dc) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Inter-Black.woff2?95d8d7e7efaa8fe5af55c14636172c1f) format("woff2"),
       url(/fonts/Inter-Black.woff?09073bae9fc5d2c931a076f1100f76bb) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Inter-BlackItalic.woff2?dc4a22b7d6fc9dae6779c1d85cfc472f) format("woff2"),
       url(/fonts/Inter-BlackItalic.woff?e62e10360f80a965e054e3a83521f539) format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Inter-upright.var.woff2?25582679cf3e50017fda8af7f39ef3f2) format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(/fonts/Inter-italic.var.woff2?3310a79971901c3d993315f28dc83c8a) format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url(/fonts/Inter.var.woff2?4d584d5c2069f84a38aaf54e53271081) format("woff2");
}
.column-checkbox,
.checkbox,
.column-action {
  display: none !important;
}

h4 {
  font-size: 25px;
  text-align: center;
  margin: 10px 0px;
}

.header-action {
  position: fixed;
  right: 20px;
  top: 15px;
  text-align: right;
  background-color: #fff;
}

.header-action a {
  padding: 5px 15px;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  background-color: #fff;
}

a:link,
a:visited,
a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

table {
  border-spacing: 0 !important;
  width: 100% !important;
}

table thead th {
  text-align: left;
  border: 1px solid #000;
  padding: 5px 7px;
  background-color: whitesmoke;
}

table td {
  margin: 0px;
  border: 1px solid #000;
  padding: 5px 7px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Inter" !important;
}

@media print {
@page {
    margin: 0;
    margin-top: 10px;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    font-family: "Inter" !important;
  }

  body {
    margin: 10px;
    font-family: "Inter" !important;
  }

  table#border {
    border: 0.5px solid grey;
  }

  .print-only {
    display: none !important;
  }

  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: "(" attr(href) ")";
  }

  abbr[title]:after {
    content: "(" attr(title) ")";
  }

  .ira:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
    vertical-align: middle;
    max-height: 100% !important;
  }

  table {
    border-collapse: collapse;
  }

  th,
  td {
    border: solid 1px #333;
    padding: 0.25em 8px;
    vertical-align: top;
  }

  dl {
    margin: 0;
  }

  dd {
    margin: 0;
  }

@page {
    margin: 1.25cm 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }

  .break-page-after {
    page-break-after: always;
    page-break-inside: avoid;
  }

  html {
    overflow-x: visible;
  }

  body {
    font-size: 12px;
    line-height: 1.5;
    font-family: "sans-serif";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit;
  }

  h2 {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 0.75em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1.25em;
    line-height: 2.4;
  }

  h5 {
    font-weight: bold;
    margin-top: 2.25em;
    margin-bottom: 0.75em;
  }

  h6 {
    text-transform: uppercase;
    margin-top: 2.25em;
    margin-bottom: 0.75em;
  }

  #page {
    width: 100%;
    position: relative;
  }

  .bukalapak-transaction-slip {
    padding: 8px 9px;
    border: solid 1px #000;
    margin-bottom: 18px;
    width: 100%;
    position: relative;
  }

  .bukalapak-transaction-slip--brand {
    height: 27px;
    display: block;
    float: left;
  }

  .bukalapak-transaction-slip--heading {
    margin-top: 0;
    display: block;
    float: right;
    line-height: 1;
    font-size: 18px;
  }

  .bukalapak-transaction-slip--courier {
    margin-top: -5px;
    display: block;
    float: right;
    font-size: 14px;
    position: relative;
    width: 100%;
    text-align: right;
  }

  .bukalapak-transaction-slip-buyer {
    margin-top: 9px;
    margin-bottom: 9px;
    padding-right: 18px;
    clear: both;
    float: left;
    width: 62%;
    border-right: dotted 1px #000;
  }

  .bukalapak-transaction-slip-buyer--heading {
    font-weight: bold;
    margin-top: 0;
  }

  .bukalapak-transaction-slip-buyer--label {
    display: block;
    float: left;
    clear: both;
    width: 25%;
  }

  .bukalapak-transaction-slip-buyer--label:after {
    content: ":";
  }

  .bukalapak-transaction-slip-buyer--name,
  .bukalapak-transaction-slip-buyer--phone {
    font-weight: bold;
  }

  .bukalapak-transaction-slip-buyer--address {
    display: block;
    float: left;
    font-weight: bold;
    width: 75%;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    white-space: normal;
  }

  .bukalapak-transaction-slip-seller {
    display: block;
    float: left;
    width: 38%;
    margin-top: 9px;
    margin-bottom: 9px;
    padding-left: 18px;
  }

  .bukalapak-transaction-slip-seller--heading {
    font-weight: bold;
    margin-top: 0em;
  }

  .bukalapak-transaction-slip-seller--lapak,
  .bukalapak-transaction-slip-seller--name {
    white-space: nowrap;
  }

  .bukalapak-transaction-slip--footer {
    display: block;
    width: 100%;
    clear: both;
    margin-top: 18px;
    border-top: solid 1px #000;
    padding-top: 5px;
    font-size: 9px;
  }

  .bukalapak-transaction-product {
    clear: both;
    position: relative;
    width: 100%;
  }

  .bukalapak-transaction-product-item {
    width: 80%;
  }

  .bukalapak-transaction-product-quantity {
    width: 20%;
  }

  #container {
    margin-top: -20px;
  }

  #container table {
    width: 100% !important;
  }

  #container table .destination td {
    background-color: #F5F5F5 !important;
    text-align: left;
  }

  #container table .contact {
    text-align: left;
  }

  #container table .contact strong {
    font-size: 17px;
    text-transform: uppercase;
  }

  #container table .person {
    margin-top: 20px;
  }

  #container table .contact td {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  #container table .contact td p {
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  #container table .rest {
    text-align: left;
  }

  #container #headline {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    margin: 0px;
  }

  #container table .message {
    margin-top: -15px !important;
    vertical-align: middle !important;
    padding-bottom: 20px !important;
  }

  #container table .message p {
    margin-bottom: -15px !important;
    line-height: 15px !important;
  }

  #container table .header td {
    padding-bottom: 7px;
    background-color: #F5F5F5 !important;
  }

  #container table .header .no {
    width: 25px;
  }

  #container table .header .product {
    width: 350px;
  }

  #container table .header .qty {
    width: 50px;
    text-align: right;
  }

  #container table .header .price {
    width: 100px;
    text-align: right;
  }

  #container table .header .total {
    width: 100px;
    text-align: right;
  }

  #container table .item td {
    vertical-align: middle !important;
  }

  #container table .item .no {
    text-align: center;
  }

  #container table .item .qty {
    text-align: right;
  }

  #container table .item .price {
    text-align: right;
  }

  #container table .item .total {
    text-align: right;
  }

  #container table .item .total span {
    position: relative;
    font-weight: bold;
    display: block;
    right: 0px;
    font-size: 10px;
    margin-left: 5px;
  }

  #container table .item .product h1 {
    font-size: 12px;
    margin: 0px;
  }

  #container table .item .product h2 {
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
  }

  #container table .item .product h3 {
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
  }

  #container table .item .product p {
    font-size: 10px;
    text-align: left;
    margin: 0px;
  }

  #container table .item .product span {
    position: relative;
    font-weight: bold;
    display: block;
    right: 0px;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 20px;
  }

  #container table .total_product td {
    text-align: right;
    background-color: #F5F5F5 !important;
    padding-bottom: 10px;
  }

  #container table .total_discount td {
    text-align: right;
    background-color: #F5F5F5 !important;
    padding-bottom: 10px;
  }

  #container table .total_tax td {
    text-align: right;
    background-color: #F5F5F5 !important;
    padding-bottom: 10px;
  }

  #container table .total_sumary td {
    text-align: right;
    background-color: lightgray !important;
    padding-bottom: 10px;
    font-weight: bold;
  }

  #paraf {
    margin-top: 10px;
    width: 100%;
    font-size: 10px;
    margin-bottom: -50px;
  }

  #paraf .header td {
    background-color: #F5F5F5 !important;
  }

  #paraf .content .sign {
    height: 130px;
    vertical-align: bottom !important;
    text-align: center;
  }

  #paraf .content .description {
    vertical-align: middle !important;
    text-align: left;
    line-height: 1px;
  }

  #paraf .header .sign {
    width: 150px;
    text-align: center;
  }

  #paraf .header .term {
    text-align: left;
  }

  body {
    margin: 10px;
  }

  h4 {
    margin-top: 30px;
  }

  .column-checkbox,
  .checkbox,
  .column-action {
    display: none !important;
    visibility: hidden !important;
  }

  table {
    border-spacing: 0 !important;
  }

  .header-action {
    display: none;
    visibility: hidden;
  }
}

